<meta content="text/html; charset=<%= @options.charset %>" http-equiv="Content-Type">
<title><%= h(title) %></title>

<link type="text/css" media="screen" href="<%= asset_prefix %>/rdoc.css" rel="stylesheet">

<script src="<%= asset_prefix %>/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="<%= asset_prefix %>/js/rest.js" type="text/javascript" charset="utf-8"></script>
